<li
  class="large-margin-bottom"
  data-test-project-name={{@project.dcpProjectname}}
  data-test-type='to-do'
>
  <h3 class="no-margin">
    <LinkTo
      @route='project'
      @model={{@project.id}}
    >
      {{@project.dcpProjectname}}
    </LinkTo>

    {{#if (eq @project.statuscode "On-Hold")}}
      <span class="text-red text-weight-normal"
        data-test-project-on-hold
      > 
        (On Hold) 
      </span>
    {{/if}}

    <small class="text-weight-normal">{{@project.dcpName}}</small>
  </h3>

  <p class="tiny-margin-bottom">
    <span class="text-dark-gray">Primary Applicant:</span>
    {{@project.dcpApplicantCustomerValue}}
  </p>

  <LinkTo
    @route='pas-form.edit'
    @model={{@project.pasPackages.firstObject.id}}
    class="button small"
    data-test-project="edit-pas"
  >
    <FaIcon @icon="pen" @prefix="fas" />
    {{#let @project.pasPackages.firstObject.dcpPackageversion as |version|}}
      Edit Pre-Application Statement
      {{#if (gt version 1)}}
        (Version {{version}})
      {{/if}}
    {{/let}}
  </LinkTo>
</li>
