<LabsUi::SiteHeader
  @responsiveNav={{true}}
  @responsiveSize="medium"
  @betaNotice={{true}}
  as |banner|
>
  <banner.title>
    <LinkTo @route="application" class="site-title">
      Applicants
      <small class="site-subtitle show-for-medium">File and track your applications</small>
    </LinkTo>
  </banner.title>
  <banner.nav>
    <ul class="menu vertical medium-horizontal">
      {{#if this.session.isAuthenticated}}
        <li class="auth--container">
          <FaIcon @icon="user-circle" @prefix="fas" @size="2x" class="auth--icon" />
          <div>
            <span class="auth--name">
              {{this.session.data.authenticated.emailaddress1}}
            </span>
            <button
              type="button"
              class="auth--logout-button"
              {{on "click" this.doLogout}}
              data-test-auth="logout"
            >
              Sign Out
            </button>
          </div>
        </li>
      {{else}}
        <li>
          <Auth::SignInButton />
        </li>
      {{/if}}
    </ul>
  </banner.nav>
</LabsUi::SiteHeader>

<div class="site-main xlarge-padding-bottom">
  <div class="grid-container large-padding-top xlarge-padding-bottom">
    {{outlet}}
  </div>
</div>

<div id="reveal-modal-container"></div>
