<LabsUi::SiteHeader
  @responsiveNav={{true}}
  @responsiveSize="medium"
  @betaNotice={{true}}
  as |banner|
>
  <banner.title>
    <LinkTo @route="application" class="site-title">
      Applicants
      <small class="site-subtitle show-for-medium">File and track your applications</small>
    </LinkTo>
  </banner.title>
  <banner.nav>
    <ul class="menu vertical medium-horizontal">
      <li>
        {{#if this.session.isAuthenticated}}
          <button {{on "click" this.doLogout}}
            href="#"
            type="button"
            data-test-auth="logout"
          >
            Logout
          </button>
        {{else}}
          <SignInButton />
        {{/if}}
      </li>
    </ul>
  </banner.nav>
</LabsUi::SiteHeader>

<div class="site-main xlarge-padding-bottom">
  <div class="grid-container large-padding-top xlarge-padding-bottom">
    {{outlet}}
  </div>
</div>
