<Ui::Breadcrumbs as |Crumb|>
  <Crumb @text="My Projects" @route='projects' />
  <Crumb @text={{@model.dcpProjectname}} @current={{true}} />
</Ui::Breadcrumbs>

<div class="grid-x grid-padding-x">
  <div class="cell large-8">
    <h1>
      {{@model.dcpProjectname}}
    </h1>

    <p>
      <strong>Project Number:</strong> {{@model.dcpName}}
    </p>

    <p>
      <strong>Primary Applicant:</strong> {{@model.dcpApplicantCustomerValue}}
    </p>

    <p>
      <strong>Project Status:</strong> {{optionset 'project' 'statuscode' 'label' @model.statuscode}}
      <span class="text-gray"> | </span>
      <strong>Public Status:</strong>
      <FaIcon @icon={{if @model.publicStatusGeneralPublicProject 'eye' 'eye-slash'}} @prefix="far" class="text-gray"/>
      {{#if @model.publicStatusGeneralPublicProject}}
        <Ui::ExternalLink @href="https://zap.planning.nyc.gov/projects/{{@model.dcpName}}"> {{optionset 'project' 'dcpPublicstatus' 'label' @model.dcpPublicstatus}} </Ui::ExternalLink>
      {{else}}
        {{optionset 'project' 'dcpPublicstatus' 'label' @model.dcpPublicstatus}}
      {{/if}}
    </p>

    <p>
      <strong>Project Brief:</strong> {{@model.dcpProjectbrief}}
    </p>

    <hr>

    {{#if @model.rwcdsPackages.length}}
      <h2>Reasonable Worst Case Development Scenario</h2>
      <ol class="no-bullet">
        {{#each @model.rwcdsPackages as |rwcdsPackage|}}
          <Project::PackageListItem
            @package={{rwcdsPackage}}
          />
        {{/each}}
      </ol>
    {{/if}}

    {{#if @model.pasPackages.length}}
      <h2>Pre-Application Statement</h2>
      <ol class="no-bullet">
        {{#each @model.pasPackages as |pasPackage|}}
          <Project::PackageListItem
            @package={{pasPackage}}
          />
        {{/each}}
      </ol>
    {{/if}}

  </div>{{! end left/main column }}
  <div class="cell large-4">

    <h3>
      Project Editors
      <FaIcon @icon='users-cog' @fixedWidth={{true}} />
    </h3>

    <ul class="no-bullet">
      {{#each this.project.projectApplicants as |projectApplicant|}}
        {{#if (and (eq projectApplicant.contact.statuscode this.contactActiveStatusCode) (eq projectApplicant.contact.statecode this.contactActiveStateCode))}}
          <Project::ProjectEditorListItem
            @name={{projectApplicant.displayName}}
            @emailAddress={{projectApplicant.email}}
            @phone={{projectApplicant.contact.telephone1}}
            @isRegistered={{projectApplicant.contact.dcpNycidGuid}}
            @projectName={{this.project.dcpProjectname}}
            @canDelete={{and (not projectApplicant.isPrimaryApplicantOrContact) this.contactMgmtOpen}}
            @onDelete={{fn this.removeEditor projectApplicant}}
          />
        {{/if}}
      {{/each}}
    </ul>

    {{#if this.contactMgmtOpen}}
      <h4>Add Project Editor:</h4>

      <fieldset class="--fieldset">
        <label>
          First Name
          <Input
            @type="text"
            autocomplete="off"
            @value={{this.firstName}}
          />
        </label>

        <label>
          Last Name
          <Input
            @type="text"
            autocomplete="off"
            @value={{this.lastName}}
          />
        </label>

        <label>
          Email Address
          <Input
            @type="text"
            autocomplete="off"
            @value={{this.emailAddress}}
          />
        </label>

        <button
          class="button expanded text-weight-bold"
          type="button"
          {{on "click" (fn this.addEditor) }}
        >
          Add Project Editor
        </button>
      </fieldset>
    {{/if}}

    <button
      type="button"
      class="button expanded secondary"
      {{on "click" (fn this.toggleContactMgmt) }}
    >
      {{if this.contactMgmtOpen 'Cancel' 'Manage Project Editors'}}
    </button>

    <Ui::ConfirmationModal
      @show={{this.addEditorModalOpen}}
      @toggle={{fn (mut this.addEditorModalOpen) false}}
      @continueButtonTitle="Cancel"
    >
      {{#if this.matchingCurrentApplicant}}
        <h4>A Project Editor with the email address you entered already exists on this project.</h4>
      {{else}}
        <h4>Are you sure you want to add...</h4>
        <Project::ProjectEditorListItem
          @name="{{this.firstName}} {{this.lastName}}"
          @emailAddress={{this.emailAddress}}
        />
        <p>If you add this Editor, they will be able to view and edit this Project.</p>
        <button
          class="button expanded no-margin"
          type="button"
          {{on "click" (fn this.saveEditor) }}
        >
          <strong>Add Editor</strong>
        </button>
      {{/if}}
    </Ui::ConfirmationModal>

    <Messages::Assistance class="large-margin-top" />

    <h3>
      City Planning Staff
    </h3>
    <ul class="no-bullet">
      {{#each this.project.teamMembers as |teamMember|}}
        <li class="grid-x medium-margin-bottom">
          <div class="cell shrink small-padding-right">
            <FaIcon @icon='user' @fixedWidth={{true}} @transform='down-1' class="text-gray" />
          </div>
          <div class="cell auto">
            <h5 class="no-margin">{{teamMember.name}}</h5>
            <p class="text-small tiny-margin-bottom">
              <i>{{teamMember.role}}</i>
            </p>
            <p class="text-small tiny-margin-bottom">
              <a href="mailto:{{teamMember.email}}">{{teamMember.email}}</a>
            </p>
            <p class="text-small tiny-margin-bottom">
              {{teamMember.phone}}
            </p>
          </div>
        </li>
      {{/each}}
    </ul>

  </div>
</div>

{{outlet}}
