<Ui::Breadcrumbs as |Crumb|>
  <Crumb @text="My Projects" @route='projects' />
  <Crumb @text={{@model.dcpProjectname}} @current={{true}} />
</Ui::Breadcrumbs>

<div class="grid-x grid-padding-x">
  <div class="cell large-8">
    <section class="large-padding-top large-margin-bottom ruled-adjacent">
      <h1>
        {{@model.dcpProjectname}}
      </h1>

      <p>
        <strong>Project Number:</strong> {{@model.dcpName}}
      </p>

      <p>
        <strong>Primary Applicant:</strong> {{@model.dcpApplicantCustomerValue}}
      </p>

      <p>
        <strong>Project Status:</strong> {{optionset 'project' 'statuscode' 'label' @model.statuscode}}
        <span class="text-gray"> | </span>
        <strong>Public Status:</strong>

        <FaIcon
          @icon={{if @model.publicStatusGeneralPublicProject 'eye' 'eye-slash'}}
          @prefix="far"
          class="text-gray"
        />

        {{#if @model.publicStatusGeneralPublicProject}}
          <Ui::ExternalLink @href="https://zap.planning.nyc.gov/projects/{{@model.dcpName}}"> {{optionset 'project' 'dcpPublicstatus' 'label' @model.dcpPublicstatus}} </Ui::ExternalLink>
        {{else}}
          {{optionset 'project' 'dcpPublicstatus' 'label' @model.dcpPublicstatus}}
        {{/if}}
      </p>

      <p>
        <strong>Project Brief:</strong> {{@model.dcpProjectbrief}}
      </p>
    </section>

      <Project::PackageSection
        @packages={{@model.landusePackages}}
        @packageType="Land Use"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />

      <Project::PackageSection
        @packages={{@model.easPackages}}
        @packageType="Environmental Assessment Statement (EAS)"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />
  
      <Project::PackageSection
        @packages={{@model.eisPackages}}
        @packageType="Environmental Impact Statement (EIS)"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />

      <Project::PackageSection
        @packages={{@model.technicalMemoPackages}}
        @packageType="Technical Memo"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />

      <Project::PackageSection
        @packages={{@model.rwcdsPackages}}
        @packageType="Reasonable Worst Case Development Scenario"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />

      <Project::PackageSection
        @packages={{@model.pasPackages}}
        @packageType="Pre-Application Statement"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />
  </div>{{! end left/main column }}
  <div class="cell large-4">

    <section class="xlarge-margin-bottom">

      <h3 class="clearfix">
        Project Editors
        <button
          type="button"
          class="button secondary small float-right no-margin"
          {{on "click" (fn this.toggleContactMgmt) }}
        >
          {{if this.contactMgmtOpen 'Cancel' 'Manage'}}
          <FaIcon @icon='users-cog' @fixedWidth={{true}} />
        </button>
      </h3>

      <ul class="no-bullet">
        {{#each this.project.projectApplicants as |projectApplicant|}}
          {{#if (and (eq projectApplicant.contact.statuscode this.contactActiveStatusCode) (eq projectApplicant.contact.statecode this.contactActiveStateCode))}}
            <Project::ProjectEditorListItem
              @name={{projectApplicant.displayName}}
              @emailAddress={{projectApplicant.email}}
              @phone={{projectApplicant.contact.telephone1}}
              @isRegistered={{projectApplicant.contact.dcpNycidGuid}}
              @projectName={{this.project.dcpProjectname}}
              @canDelete={{and (not projectApplicant.isPrimaryApplicantOrContact) this.contactMgmtOpen}}
              @onDelete={{fn this.removeEditor projectApplicant}}
            />
          {{/if}}
        {{/each}}
      </ul>

      {{#if this.contactMgmtOpen}}
        <fieldset class="fieldset">
          <legend class="text-weight-bold">
            <FaIcon @icon='user-plus' @fixedWidth={{true}} @transform='down-1' class="text-gray" />
            Add Project Editor
          </legend>

          <div class="grid-x grid-margin-x">
            <div class="cell medium-6">
              <label class="text-small">
                First Name
                <Input
                  @type="text"
                  autocomplete="off"
                  @value={{this.firstName}}
                />
              </label>
            </div>
            <div class="cell medium-6">
              <label class="text-small">
                Last Name
                <Input
                  @type="text"
                  autocomplete="off"
                  @value={{this.lastName}}
                />
              </label>
            </div>
          </div>

          <label class="text-small">
            Email Address
            <Input
              @type="text"
              autocomplete="off"
              @value={{this.emailAddress}}
            />
          </label>

          <button
            class="button expanded no-margin text-weight-bold"
            type="button"
            {{on "click" (fn this.addEditor) }}
          >
            Add Project Editor
          </button>
        </fieldset>
      {{/if}}

      <Ui::GenericModal
        @show={{this.addEditorModalOpen}}
        @closeButtonAction={{fn (mut this.addEditorModalOpen) false}}
      >
        {{#if this.matchingCurrentApplicant}}
          <h4>A Project Editor with the email address you entered already exists on this project.</h4>
        {{else}}
          <h4>Are you sure you want to add...</h4>
          <Project::ProjectEditorListItem
            @name="{{this.firstName}} {{this.lastName}}"
            @emailAddress={{this.emailAddress}}
          />
          <p>If you add this Editor, they will be able to view and edit this Project.</p>
          <div class="grid-x">
            <div class="cell large-6 small-padding-right">
              <button
                class="button expanded large"
                type="button"
                {{on "click" (fn this.saveEditor) }}
              >
                <strong>Add Editor</strong>
              </button>
            </div>
            <div class="cell large-6 small-padding-left">
              <button
                type="button"
                class="button expanded large secondary"
                {{on "click" (fn (mut this.addEditorModalOpen) false)}}
                >
                Cancel
              </button>
            </div>
          </div>
        {{/if}}
      </Ui::GenericModal>

    </section>

    <section class="xlarge-margin-bottom">
      <h3>
        City Planning Staff
      </h3>
      <ul class="no-bullet">
        {{#each this.project.teamMembers as |teamMember|}}
          <li class="grid-x medium-margin-bottom">
            <div class="cell shrink small-padding-right">
              <FaIcon @icon='user' @fixedWidth={{true}} @transform='down-1' class="text-gray" />
            </div>
            <div class="cell auto">
              <h5 class="no-margin">{{teamMember.name}}</h5>
              <p class="text-small tiny-margin-bottom">
                <i>{{teamMember.role}}</i>
              </p>
              <p class="text-small tiny-margin-bottom">
                <a href="mailto:{{teamMember.email}}">{{teamMember.email}}</a>
              </p>
              <p class="text-small tiny-margin-bottom">
                {{teamMember.phone}}
              </p>
            </div>
          </li>
        {{/each}}
      </ul>
    </section>

    <Messages::Assistance />

  </div>
</div>

{{outlet}}
