<Ui::Breadcrumbs as |Crumb|>
  <Crumb @text="My Projects" @route='projects' />
  <Crumb @text={{@model.dcpProjectname}} @current={{true}} />
</Ui::Breadcrumbs>

<div class="grid-x grid-padding-x">
  <div class="cell large-8">
    <h1>
      {{@model.dcpProjectname}}
    </h1>

    <p>
      <strong>Project Number:</strong> {{@model.dcpName}}
    </p>

    <p>
      <strong>Primary Applicant:</strong> {{@model.dcpApplicantCustomerValue}}
    </p>

    <p>
      <strong>Project Status:</strong> {{optionset 'project' 'statuscode' 'label' @model.statuscode}}
      <span class="text-gray"> | </span>
      <strong>Public Status:</strong>
      <FaIcon @icon={{if @model.publicStatusGeneralPublicProject 'eye' 'eye-slash'}} @prefix="far" class="text-gray"/>
      {{#if @model.publicStatusGeneralPublicProject}}
        <Ui::ExternalLink @href="https://zap.planning.nyc.gov/projects/{{@model.dcpName}}"> {{optionset 'project' 'dcpPublicstatus' 'label' @model.dcpPublicstatus}} </Ui::ExternalLink>
      {{else}}
        {{optionset 'project' 'dcpPublicstatus' 'label' @model.dcpPublicstatus}}
      {{/if}}
    </p>

    <p>
      <strong>Project Brief:</strong> {{@model.dcpProjectbrief}}
    </p>

    <hr>

    {{#if @model.rwcdsPackages.length}}
      <h2>Reasonable Worst Case Development Scenario</h2>
      <ol class="no-bullet">
        {{#each @model.rwcdsPackages as |rwcdsPackage|}}
          <Project::PackageListItem
            @package={{rwcdsPackage}}
          />
        {{/each}}
      </ol>
    {{/if}}

    {{#if @model.pasPackages.length}}
      <h2>Pre-Application Statement</h2>
      <ol class="no-bullet">
        {{#each @model.pasPackages as |pasPackage|}}
          <Project::PackageListItem
            @package={{pasPackage}}
          />
        {{/each}}
      </ol>
    {{/if}}

  </div>{{! end left/main column }}
  <div class="cell large-4 sticky-sidebar">

    <h3>
      Project Editors
      <FaIcon @icon='users-cog' @fixedWidth={{true}} />
    </h3>
    <ul class="no-bullet">
      {{#each @model.contacts as |contact|}}
        <Project::ProjectEditorListItem @contact={{contact}} />
      {{/each}}
    </ul>

    <Messages::Assistance class="large-margin-top" />

  </div>
</div>

{{outlet}}
