<Ui::Breadcrumbs as |Crumb|>
  <Crumb @text="My Projects" @route='projects' />
  <Crumb @text={{@model.dcpProjectname}} @current={{true}} />
</Ui::Breadcrumbs>

<div class="grid-x grid-padding-x">
  <div class="cell large-8">
    <section class="large-padding-top large-margin-bottom ruled-adjacent">
      <h1>
        {{@model.dcpProjectname}}
      </h1>

      <p>
        <strong>Project Number:</strong> {{@model.dcpName}}
      </p>

      <p>
        <strong>Primary Applicant:</strong> {{@model.dcpApplicantCustomerValue}}
      </p>

      <p>
        <strong>Project Status:</strong> {{optionset 'project' 'statuscode' 'label' @model.statuscode}}
        <span class="text-gray"> | </span>
        <strong>Public Status:</strong>

        <FaIcon
          @icon={{if @model.publicStatusGeneralPublicProject 'eye' 'eye-slash'}}
          @prefix="far"
          class="text-gray"
        />

        {{#if @model.publicStatusGeneralPublicProject}}
          <Ui::ExternalLink @href="https://zap.planning.nyc.gov/projects/{{@model.dcpName}}"> {{optionset 'project' 'dcpPublicstatus' 'label' @model.dcpPublicstatus}} </Ui::ExternalLink>
        {{else}}
          {{optionset 'project' 'dcpPublicstatus' 'label' @model.dcpPublicstatus}}
        {{/if}}
      </p>

      <p>
        <strong>Project Brief:</strong> {{@model.dcpProjectbrief}}
      </p>
    </section>

      <Project::PackageSection
        @packages={{@model.landusePackages}}
        @packageType="Land Use"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />

      <Project::PackageSection
        @packages={{@model.easPackages}}
        @packageType="Environmental Assessment Statement (EAS)"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />

      <Project::PackageSection
        @packages={{@model.scopeOfWorkDraftPackages}}
        @packageType="Scope of Work (SOW)"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />

      <Project::PackageSection
        @packages={{@model.eisPackages}}
        @packageType="Environmental Impact Statement (EIS)"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />

      <Project::PackageSection
        @packages={{@model.technicalMemoPackages}}
        @packageType="Technical Memo"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />

      <Project::PackageSection
        @packages={{@model.rwcdsPackages}}
        @packageType="Reasonable Worst Case Development Scenario"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />

      <Project::PackageSection
        @packages={{@model.pasPackages}}
        @packageType="Pre-Application Statement"
        class="large-padding-top large-margin-bottom ruled-adjacent"
      />
  </div>{{! end left/main column }}
  <div class="cell large-4">

    <section class="xlarge-margin-bottom">
      <ContactManager
        @projectApplicants={{@model.projectApplicants}}
      />
    </section>

    <section class="xlarge-margin-bottom">
      <h3>
        City Planning Staff
      </h3>
      <ul class="no-bullet">
        {{#each @model.teamMembers as |teamMember|}}
          <li class="grid-x medium-margin-bottom">
            <div class="cell shrink small-padding-right">
              <FaIcon @icon='user' @fixedWidth={{true}} @transform='down-1' class="text-gray" />
            </div>
            <div class="cell auto">
              <h5 class="no-margin">{{teamMember.name}}</h5>
              <p class="text-small tiny-margin-bottom">
                <i>{{teamMember.role}}</i>
              </p>
              <p class="text-small tiny-margin-bottom">
                <a href="mailto:{{teamMember.email}}">{{teamMember.email}}</a>
              </p>
              <p class="text-small tiny-margin-bottom">
                {{teamMember.phone}}
              </p>
            </div>
          </li>
        {{/each}}
      </ul>
    </section>

    <Messages::Assistance />

  </div>
</div>

{{outlet}}
