<Ui::Breadcrumbs as |Crumb|>
  <Crumb @text="My Projects" @current={{true}} />
</Ui::Breadcrumbs>

<div class="grid-x grid-padding-x">
  <div class="cell large-8">

    {{#if (gt this.model.length 0)}}

      <h2>Projects Awaiting Submission</h2>

      {{#if (gt this.toDoProjects.length 0)}}
        <ul class="no-bullet" data-test-projects-list="to-do">
          {{#each this.sortedToDoProjects as |project|}}
            <MyProjects::ListItem @project={{project}} />
          {{/each}}
        </ul>
      {{else}}
        <h4 class="text-dark-gray tiny-margin-bottom">Nothing to do.</h4>

        <p class="text-dark-gray" data-test-no-response-required>
          You do not currently have any projects that require your response.
        </p>
      {{/if}}

      {{#if (gt this.doneProjects.length 0)}}
        <hr class="large-margin-top large-margin-bottom" />

        <h2>Other Projects</h2>

        <ul class="no-bullet" data-test-projects-list="done">
          {{#each this.sortedDoneProjects as |project|}}
            <MyProjects::ListItem @project={{project}} />
          {{/each}}
        </ul>
      {{/if}}

    {{else}}

      <h4 class="text-dark-gray tiny-margin-bottom">Nothing to do.</h4>

      <p class="text-dark-gray" data-test-not-assigned-any-active-project>
        You are not currently assigned to any projects.
      </p>

    {{/if}}

  </div>
  <div class="cell large-4 sticky-sidebar">
    {{#if this.selfServiceFlagOn}}
      <p class="text-dark-gray">
        To initiate a new project engagement with the Department, complete this form with as many
        <a href="https://home.nyc.gov/assets/planning/download/pdf/applicants/applicant-portal/interest_checklist.pdf">
          checklist items </a>
        as possible.
      </p>
      
      <LinkTo @route="projects/new">
        <button type="button" class="button no-margin">
          <FaIcon @icon="edit" />
          <strong>
            Initiate New Project
          </strong>
        </button>
      </LinkTo>
    {{/if}}

    <Messages::Assistance class="large-margin-top" />

  </div>
</div>

{{outlet}}
