<Breadcrumbs as |Crumb|>
  <Crumb @text="My Projects" @current={{true}} />
</Breadcrumbs>

<div class="grid-x grid-padding-x">
  <div class="cell large-8">
    {{#if (gt this.model.length 0)}}
      {{#if (gt this.applicantProjects.length 0)}}
        <ul class="no-bullet">
          {{#each this.sortedApplicantProjects as |project|}}
            <Projects::ApplicantProjectCard @project={{project}} />
          {{/each}}
        </ul>
      {{else}}
        <h4 class="text-dark-gray tiny-margin-bottom">Nothing to do.</h4>
        <p
          class="text-dark-gray"
          data-test-no-response-required
        >
          You do not currently have any projects that require your response.
        </p>
      {{/if}}

      {{#if (gt this.planningProjects.length 0)}}
        <hr class="large-margin-top large-margin-bottom" />
        <ul class="no-bullet">
          {{#each this.sortedPlanningProjects as |project|}}
            <Projects::PlanningProjectCard @project={{project}} />
          {{/each}}
        </ul>
      {{/if}}
    {{else}}
      <h4 class="text-dark-gray tiny-margin-bottom">Nothing to do.</h4>
        <p
          class="text-dark-gray"
          data-test-not-assigned-any-active-project
        >
          You are not currently assigned to any active DCP projects.
        </p>
    {{/if}}
  </div>
  <div class="cell large-4">
    <NeedAssistanceMessage class="large-margin-top" />
  </div>
</div>

{{outlet}}
