{{!-- TODO:  Make this breadcrumb dynamic with application routing --}}
{{!-- breadcrumb --}}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li class="text-extra-large">
      <span class="show-for-sr">Current: </span>
      My Projects
    </li>
  </ul>
</nav>

<hr />

<div class="grid-x grid-padding-x">

  {{!-- left column --}}
  <div class="cell auto">

    {{!-- applicant projects --}}
    <h4 class="text-dark-gray large-margin-bottom text-weight-normal text-uppercase">
      <FaIcon @icon="inbox" @fixedWidth={{true}} />
      TO DO
    </h4>
    {{#if (gt this.applicantProjects.length 0)}}
      <ul class="no-bullet">
        {{#each this.applicantProjects as |project|}}
          <Projects::ApplicantProjectCard @project={{project}} />
        {{/each}}
      </ul>
    {{else}}
      <div class="large-margin-bottom">
        <strong class="text-dark-gray">Nothing to do.</strong>
        <p>You do not currently have any projects that require your response.</p>
      </div>
    {{/if}}

    <hr />

    <p class="large-margin-top large-padding-right">
      If something has gone wrong, or you believe projects are missing from this list, please contact City Planning at
      <a href="mailto:ZAP_feedback_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a> or <a href="tel:212-720-3300">212-720-3300</a>.
    </p>

  </div>

  {{!-- right column --}}
  <div class="cell large-4">

    {{!-- upcoming projects --}}
    {{#if (gt this.noPasProjects.length 0)}}
      <div class="large-margin-bottom bg-white-smoke large-padding">
        <h5 class="text-dark-gray large-margin-bottom text-weight-normal">
          <FaIcon @icon="lock" @fixedWidth={{true}} />
          UPCOMING
        </h5>
        <ul class="no-bullet">
          {{#each this.noPasProjects as |project|}}
            <Projects::PlanningProjectCard @project={{project}} />
          {{/each}}
        </ul>
      </div>
    {{/if}}

    {{!-- planning projects --}}
    {{#if (gt this.planningProjects.length 0)}}
      <div class="large-margin-top bg-white-smoke large-padding">
        <h5 class="text-dark-gray large-margin-bottom  text-weight-normal">
          <FaIcon @icon="lock" @fixedWidth={{true}} />
          NYC PLANNING IS WORKING ON IT&hellip;
        </h5>
        <ul class="no-bullet">
          {{#each this.planningProjects as |project|}}
            <Projects::PlanningProjectCard @type="planning-project" @project={{project}} />
          {{/each}}
        </ul>
      </div>
    {{/if}}

  </div>
</div>

{{outlet}}
