{{#each-in (group-by 'statuscode' @milestones) as |status groupedMilestones|}}
  <div class="cell shrink">
    <div class="clickable-header">
      <FaIcon @icon={{if this.showMilestones "caret-down" "caret-right"}} />
      {{#if (eq status "Completed")}}
      <span class="milestone-icon fa-layers fa-fw">
        {{fa-icon 'circle' fixedWidth=true class='dark-gray'}}
        {{fa-icon 'check' fixedWidth=true class='off-white' transform='shrink-6'}}
      </span>
      {{else if (eq status "Not Started")}}
      <span class="milestone-icon fa-layers fa-fw">
        {{fa-icon 'circle' fixedWidth=true class='dark-gray'}}
        {{fa-icon 'calendar' prefix='far' fixedWidth=true class='off-white' transform='shrink-8'}}
      </span>
      {{else if (eq status "In Progress")}}
      <span class="milestone-icon fa-layers fa-fw">
        {{fa-icon 'circle' fixedWidth=true class='dark-gray'}}
        {{fa-icon 'map-pin' fixedWidth=true class='off-white' transform='shrink-8'}}
      </span>
      {{/if}}

      <div class="cell auto milestone">
        <div class="group-milestone">
           <Project::Milestones::MilestoneGroup @status={{status}} @groupedMilestones={{groupedMilestones}}/>
        </div>
      </div>
    </div>
  </div>
{{/each-in}}

{{yield}}