<li>
  {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'REVIEWED_REVISIONS_REQUIRED'))}}
    <FaIcon @icon="exclamation-triangle" class="text-gold" />
  {{else}}
    <FaIcon
      @icon={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'edit' 'check'}}
      class={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) '' 'text-green-dark'}}
    />
  {{/if}}
  {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' "PAS_PACKAGE"))}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'pas-form.edit' 'pas-form.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      <strong>Version {{@package.dcpPackageversion}}</strong>
    </LinkTo>
  {{/if}}
  {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'RWCDS'))}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'rwcds-form.edit' 'rwcds-form.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      <strong>Version {{@package.dcpPackageversion}}</strong>
    </LinkTo>
  {{/if}}
  {{#if (or
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_LU_PACKAGE'))
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_LU_PACKAGE'))
  )}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'landuse-form.edit' 'landuse-form.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_LU_PACKAGE'))}}
        Filed
      {{/if}}
      {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_LU_PACKAGE'))}}
        Draft
      {{/if}}
      <strong>Version {{@package.dcpPackageversion}}</strong>
    </LinkTo>
  {{/if}}
  <span class="text-gray">| {{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'Editable since ' 'Submitted '}}
    <Ui::DateDisplay @date={{@package.dcpStatusdate}} @outputFormat="MM/D/YYYY" @errorMessage="Date Unknown"/>
  </span>
</li>

{{yield}}
