<ol class="no-bullet">
  <li>
    <a href="#">
      {{#if (eq @package.statuscode (optionset 'package' 'status' 'code' "Reviewed - Revisions Required"))}}
        <FaIcon @icon="exclamation-triangle" class="text-gold" />
      {{else}}
        <FaIcon
          @icon={{if (eq @package.statuscode (optionset 'package' 'status' 'code' "Package Preparation")) 'edit' 'check'}}
          class={{if (eq @package.statuscode (optionset 'package' 'status' 'code' "Package Preparation")) '' 'text-green-dark'}}
        />
      {{/if}}
      <strong>Version {{@package.dcpPackageversion}}</strong>
      <!-- TODO format date appropriately -->
      <span class="text-gray">| {{if (eq status "package prep") 'Editable since ' 'Submitted '}} {{@package.dcpStatusdate}} </span>
    </a>
  </li>
</ol>

{{yield}}
