<li class="small-margin-bottom">
  {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' "PAS_PACKAGE"))}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'pas-form.edit' 'pas-form.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            PAS
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          PAS
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
  {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'RWCDS'))}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'rwcds-form.edit' 'rwcds-form.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            RWCDS
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          RWCDS
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
  {{#if (or
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_LU_PACKAGE'))
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_LU_PACKAGE'))
  )}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'landuse-form.edit' 'landuse-form.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_LU_PACKAGE'))}}
              Filed
            {{/if}}
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_LU_PACKAGE'))}}
              Draft
            {{/if}}
            Land Use
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_LU_PACKAGE'))}}
            Filed
          {{/if}}
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_LU_PACKAGE'))}}
            Draft
          {{/if}}
          Land Use
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
 {{#if (or
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_EAS'))
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_EAS'))
  )}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))
        (if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_EAS')) 'draft-eas.edit' 'filed-eas.edit')

        (if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_EAS')) 'draft-eas.show' 'filed-eas.show')
      }}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_EAS'))}}
              Filed
            {{/if}}
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_EAS'))}}
              Draft
            {{/if}}
            EAS
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_EAS'))}}
            Filed
          {{/if}}
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_EAS'))}}
            Draft
          {{/if}}
          EAS
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}

  {{#if (or
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS'))
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'EIS'))
  )}}
    {{!-- TODO: When setting up FEIS, add feis.edit and feis.show as the false condition in route below
    e.g.
    (if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS')) 'deis.edit' 'feis.edit') --}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))
        (if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS')) 'deis.edit')
        (if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS')) 'deis.show')
      }}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'EIS'))}}
              Final
            {{/if}}
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS'))}}
              Draft
            {{/if}}
            EIS
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'EIS'))}}
            Filed
          {{/if}}
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS'))}}
            Draft
          {{/if}}
          EAS
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
  
  <br>
  {{#if (eq @package.dcpVisibility (optionset 'package' 'dcpVisibility' 'code' 'GENERAL_PUBLIC'))}}
    <FaIcon @icon="eye" @prefix="far" class="text-orange" />
    <span class="a11y-orange">
      Public
    </span>
  {{/if}}
  {{#if (eq @package.dcpVisibility (optionset 'package' 'dcpVisibility' 'code' 'APPLICANT_ONLY'))}}
    <FaIcon @icon="eye-slash" @prefix="far" class="text-gray" />
    Private
  {{/if}}
  <small class="text-gray">
    {{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'Editable since ' 'Submitted '}}
    <Ui::DateDisplay @date={{@package.dcpStatusdate}} @outputFormat="MM/D/YYYY" @errorMessage="Date Unknown"/>
  </small>
</li>

{{yield}}
