<li class="small-margin-bottom">
  {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' "PAS_PACKAGE"))}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'pas-form.edit' 'pas-form.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            PAS
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          PAS
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
  {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'RWCDS'))}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'rwcds-form.edit' 'rwcds-form.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            RWCDS
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          RWCDS
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
  {{#if @package.isLUPackage}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'landuse-form.edit' 'landuse-form.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'POST_CERT_LU'))}}
              Post-Cert
            {{/if}}
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_LU_PACKAGE'))}}
              Filed
            {{/if}}
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_LU_PACKAGE'))}}
              Draft
            {{/if}}
            Land Use
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'POST_CERT_LU'))}}
            Post-Cert
          {{/if}}
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_LU_PACKAGE'))}}
            Filed
          {{/if}}
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_LU_PACKAGE'))}}
            Draft
          {{/if}}
          Land Use
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
 {{#if (or
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_EAS'))
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_EAS'))
  )}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))
        (if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_EAS')) 'draft-eas.edit' 'filed-eas.edit')

        (if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_EAS')) 'draft-eas.show' 'filed-eas.show')
      }}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_EAS'))}}
              Filed
            {{/if}}
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_EAS'))}}
              Draft
            {{/if}}
            EAS
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'FILED_EAS'))}}
            Filed
          {{/if}}
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_EAS'))}}
            Draft
          {{/if}}
          EAS
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
  {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'DRAFT_SCOPE_OF_WORK'))}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'scope-of-work-draft.edit' 'scope-of-work-draft.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            Draft SOW
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          Draft SOW
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
  {{#if (or
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS'))
    (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'EIS'))
  )}}
   
   <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))
        (if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS')) 'deis.edit' 'feis.edit')
        (if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS')) 'deis.show' 'feis.show')
      }}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'EIS'))}}
              Final
            {{/if}}
            {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS'))}}
              Draft
            {{/if}}
            EIS
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'EIS'))}}
            Final
          {{/if}}
          {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'PDEIS'))}}
            Draft
          {{/if}}
          EIS
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
  {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'TECHNICAL_MEMO'))}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'technical-memo.edit' 'technical-memo.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            Technical Memo
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          Technical Memo
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
  {{#if (eq @package.dcpPackagetype (optionset 'package' 'dcpPackagetype' 'code' 'WORKING_PACKAGE'))}}
    <LinkTo
      @route={{if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION')) 'working-package.edit' 'working-package.show'}}
      @model={{@package.id}}
      data-test-package-link={{@package.id}}
    >
      {{#if (eq @package.statuscode (optionset 'package' 'statuscode' 'code' 'PACKAGE_PREPARATION'))}}
        <button
          type="button"
          class="button no-margin"
        >
          <FaIcon @icon="edit" />
          <strong>
            Working Package
            <small>
              Version {{@package.dcpPackageversion}}
            </small>
          </strong>
        </button>
      {{else}}
        <strong>
          Working Package
          <small>
            Version {{@package.dcpPackageversion}}
          </small>
        </strong>
      {{/if}}
    </LinkTo>
  {{/if}}
  <br>
  {{#if (eq @package.dcpVisibility (optionset 'package' 'dcpVisibility' 'code' 'GENERAL_PUBLIC'))}}
    <FaIcon @icon="eye" @prefix="far" class="text-orange" />
    <span class="a11y-orange">
      Public
    </span>
  {{/if}}
  {{#if (eq @package.dcpVisibility (optionset 'package' 'dcpVisibility' 'code' 'APPLICANT_ONLY'))}}
    <FaIcon @icon="eye-slash" @prefix="far" class="text-gray" />
    Private
  {{/if}}
  <small class="text-gray">
    {{#if (eq @package.statecode (optionset 'package' 'statecode' 'code' 'ACTIVE'))}}
      Editable since <Ui::DateDisplay @date={{@package.dcpStatusdate}} @outputFormat="MM/D/YYYY" @errorMessage="Date Unknown"/>
    {{/if}}

    {{#if (eq @package.statecode (optionset 'package' 'statecode' 'code' 'INACTIVE'))}}
      {{#if (in-array
        (array
          (optionset 'package' 'statuscode' 'code' 'SUBMITTED')
          (optionset 'package' 'statuscode' 'code' 'UNDER_REVIEW')
          (optionset 'package' 'statuscode' 'code' 'REVIEWED_NO_REVISIONS_REQUIRED')
          (optionset 'package' 'statuscode' 'code' 'CERTIFIED')
          (optionset 'package' 'statuscode' 'code' 'REVIEWED_REVISIONS_REQUIRED')
          (optionset 'package' 'statuscode' 'code' 'FINAL_APPROVAL')
          (optionset 'package' 'statuscode' 'code' 'WITHDRAWN')
        )
        @package.statuscode)
      }}
        Submitted <Ui::DateDisplay
          @date={{@package.dcpPackagesubmissiondate}}
          @outputFormat="MM/D/YYYY"
          @errorMessage="Date Unknown"
        />
      {{/if}}
    {{/if}}
  </small>
</li>

{{yield}}
