<li class="grid-x medium-margin-bottom">
  <div class="cell shrink small-padding-right">
    {{#if @canDelete}}
      <button
        type="button"
        class="text-red-dim"
        {{on "click" this.tryRemoveEditor}}
      >
        <FaIcon @icon="times" @prefix="fas" @fixedWidth={{true}} />
        <EmberTooltip @isShown={{true}} @duration={{1000}} @side="left">Remove</EmberTooltip>
      </button>
    {{else}}
      <FaIcon @icon='user' @fixedWidth={{true}} @transform='down-1' class="text-gray" />
    {{/if}}
  </div>
  <div class="cell auto">
    <h5 class="no-margin">{{@name}}</h5>

    <p class="text-small tiny-margin-bottom">
      <a href="mailto:{{@emailAddress}}">{{@emailAddress}}</a>
    </p>

    {{#if @phone}}
      <p class="text-small tiny-margin-bottom">
        <a href="tel:{{@phone}}">{{format-phone @phone}}</a>
      </p>
    {{/if}}

    {{#unless @isRegistered}}
      <button
        class="button secondary tiny no-margin" {{on 'click' (toggle 'inviteTeamMemberModal' this)}}
        type="button"
      >
        <FaIcon @icon="envelope" @prefix="fas" @fixedWidth={{true}} />
        SEND INVITATION
      </button>
    {{/unless}}
  </div>
</li>

<Ui::GenericModal
  @show={{this.removeEditorModalOpen}}
  @closeButtonAction={{this.cancelRemoveEditor}}
>
  <h3>Are you sure you want to remove...</h3>

  <Project::ProjectEditorListItem
    @name={{@name}}
    @emailAddress={{@emailAddress}}
    @disableDelete={{true}}
  />

  <p class="text-red">
    If you remove this Editor, they will not be able to view or edit this Project.
  </p>

  <div class="grid-x">
    <div class="cell large-6 small-padding-right">
      <button
        type="button"
        class="button expanded large alert"
        {{on "click" this.confirmRemoveEditor}}
        >
        <FaIcon @icon='user-times' @fixedWidth={{true}} />
        Remove Editor
      </button>
    </div>
    <div class="cell large-6 small-padding-left">
      <button
        type="button"
        class="button expanded large secondary"
        {{on "click" this.cancelRemoveEditor}}
        >
        Cancel
      </button>
    </div>
  </div>
</Ui::GenericModal>

<Ui::GenericModal
  @show={{this.inviteTeamMemberModal}}
  @closeButtonAction={{this.closeInviteTeamMemberModal}}
>
  <h3>Send Invitation</h3>

  <p>
    {{@name}} does not have a valid account.
    Send this invitation to <a href="mailto:{{@emailAddress}}">{{@emailAddress}}</a>:
  </p>

  <textarea id="textarea" cols="30" rows="10">
{{@name}},

You’ve been added as an editor of the project, {{@projectName}}. To access this projects, you’ll need to create an NYC.ID account with the email address {{@emailAddress}}.

{{get-env-variable 'NYCIDDomain'}}/account/register.htm?disableEmail=true&emailAddress={{@emailAddress}}&hideSecurityQuestionFields=true&target={{nycid-target url=(get-env-variable 'NYCIDLocation')}}
  </textarea>

  <div class="grid-x">
    <div class="cell large-6 small-padding-right">
      <CopyButton
        @clipboardTarget="#textarea"
        @success={{this.showCopied}}
        class='button expanded large {{if this.isCopied 'success'}}'
      >
        {{#if this.isCopied}}
          <FaIcon @icon='clipboard-check' @fixedWidth={{true}} />
          Copied
        {{else}}
          Copy Message
        {{/if}}
      </CopyButton>
    </div>
    <div class="cell large-6 small-padding-left">
      <button
        type="button"
        class="button expanded large secondary"
        {{on "click" this.closeInviteTeamMemberModal}}
        >
        Cancel
      </button>
    </div>
  </div>
</Ui::GenericModal>
