<li class="grid-x medium-margin-bottom">
  <div class="cell shrink small-padding-right">
    <FaIcon @icon='user' @fixedWidth={{true}} @transform='down-1' class="text-gray" />
  </div>
  <div class="cell auto">
    <div class="text-weight-bold">{{@name}}</div>
    <div class="text-small"><a href="mailto:{{@emailAddress}}">{{@emailAddress}}</a></div>

    {{#if @isRegistered}}
      <button class="button secondary" {{on 'click' (toggle 'inviteTeamMemberModal' this)}}>
        Send Invitation
      </button>
    {{/if}}
  </div>

  {{#if @canDelete}}
    <div class="cell shrink medium-padding-left">
      <button
        type="button"
        class="text-red-dark"
        {{on "click" this.tryRemoveEditor}}
      >
        <FaIcon @icon="times" @prefix="fas" @fixedWidth={{true}} />
      </button>
    </div>
  {{/if}}
</li>

<Ui::ConfirmationModal
  @show={{this.removeEditorModalOpen}}
  @toggle={{this.cancelRemoveEditor}}
  @continueButtonTitle="Cancel"
>
    <h4>Are you sure you want to remove...</h4>
    <Project::ProjectEditorListItem
      @name={{@name}}
      @emailAddress={{@emailAddress}}
      @disableDelete={{true}}
    />
    <p>If you remove this editor, they will not be able to view and edit this project.</p>
    <button
      class="button expanded no-margin"
      type="button"
      {{on "click" this.confirmRemoveEditor}}
    >
      <strong>Remove Editor</strong>
    </button>
</Ui::ConfirmationModal>

<Ui::ConfirmationModal
  @show={{this.inviteTeamMemberModal}}
  @toggle={{toggle 'inviteTeamMemberModal' this}}
  @continueButtonTitle="Cancel"
>
  <h1>
    Send Invitation
  </h1>

  <p>
    {{@name}} does not have a valid account.
    Send this invitation to <div class="text-small"><a href="mailto:{{@emailAddress}}">{{@emailAddress}}</a></div>

    <textarea id="textarea" cols="30" rows="10">
      {{@name}},

      You’ve been added as an editor of the project, {{@projectName}}. To access this projects, you’ll need to create an NYC.ID
      account with the email address {{@emailAddress}}.
 
      {{get-env-variable 'NYCIDDomain'}}/account/register.htm?disableEmail=true&emailAddress={{@emailAddress}}&hideSecurityQuestionFields=true&target={{nycid-target url=(get-env-variable 'NYCIDLocation')}}
    </textarea>
  </p>

  <CopyButton
    @clipboardTarget="#textarea"
    @tagName='button'
    class='button secondary'
  >
    Copy Message
  </CopyButton>
</Ui::ConfirmationModal>
