<li>
  {{#if @invoice.isPaid}}
    <FaIcon @icon="check" class="light-gray" />
  {{else}}
    <FaIcon @icon="shopping-cart" class="light-gray" />
  {{/if}}

  <LinkTo
    @route="invoice"
    @model={{@invoice.id}}
    @query={{hash header=false}}
    target="_blank"
  >
    {{@invoice.dcpName}}
  </LinkTo>

  <strong>{{@invoice.dcpGrandtotal}}</strong>

  {{#if @invoice.dcpPaymentdate}}
    <em>{{moment-format (utc @invoice.dcpPaymentdate) 'YYYY-MM-DD'}}</em>
  {{else}}
    <em>{{moment-format (utc @invoice.dcpInvoicedate) 'YYYY-MM-DD'}}</em>
  {{/if}}
</li>
