<li>
  {{#if @invoice.isPaid}}
    <FaIcon @icon="check" class="light-gray" />
  {{else}}
    <FaIcon @icon="shopping-cart" class="light-gray" />
  {{/if}}

  <LinkTo
    @route="invoice"
    @model={{@invoice}}
    @query={{hash header=false}}
  >
    {{@invoice.dcpName}}
  </LinkTo>

  <strong>{{@invoice.dcpGrandtotal}}</strong>

  <em>{{moment-format (utc @invoice.dcpInvoicedate) 'YYYY-MM-DD'}}</em>
</li>
