<button
  type="button"
  class="button expanded large {{if this.didSave 'button--saved'}}"
  disabled={{not this.isEnabled}}
  {{on "click" (perform this.clickTask)}}
  ...attributes
>
{{ log "this.args" this.args}}
  {{#if this.clickTask.isRunning}}
    <FaIcon @icon="spinner" @spin={{true}} @pulse={{true}} class="small-margin-right" />
    {{if @isSubmit 'Submitting' 'Saving'}}
  {{else if this.didSave}}
    <FaIcon @icon="check" class="small-margin-right" />
    {{if @isSubmit 'Submitted' 'Saved'}}
  {{else}}
    {{if @isSubmit 'Submit' 'Save'}}
  {{/if}}
</button>
