{{#if this.showProject}}
  <div class="large-margin-bottom">
    <h4 class="no-margin">{{@milestone.dcpMilestoneValue}}</h4>
    {{#unless @milestone.isDcpOwned}}
      <small class="a11y-orange">{{fa-icon 'exclamation-triangle' fixedWidth=true class='a11y'}}Applicant controls this milestone’s duration.</small><br>
    {{/unless}}

    {{#if (eq @status "Not Started")}} 
      Planned start date: <Ui::DateDisplay @date={{@milestone.dcpPlannedstartdate}} @outputFormat="MM/D/YYYY"
      @errorMessage="Date Unknown" /> <br>
    {{else}}
      Actual start date: <Ui::DateDisplay @date={{@milestone.dcpActualstartdate}} @outputFormat="MM/D/YYYY"
      @errorMessage="Date Unknown" /> <br>
    {{/if}}
    {{#if (eq @status "Completed")}} 
      Actual completion date:  <Ui::DateDisplay @date={{@milestone.dcpActualenddate}} @outputFormat="MM/D/YYYY"
      @errorMessage="Date Unknown" /> <br>
    {{else}}
      Planned completion date: <Ui::DateDisplay @date={{@milestone.dcpPlannedcompletiondate}} @outputFormat="MM/D/YYYY"
      @errorMessage="Date Unknown" /> <br>
    {{/if}}

    {{#if @milestone.targetDuration}}
      <p class="small-margin-top">
        <small>
          *DCP’s target duration is {{@milestone.targetDuration}} days.
        </small>
      </p>
    {{/if}}
  </div>
{{/if}}