<li class="{{if @disabled 'disabled'}}">
  {{#if @current}}
    <span class="show-for-sr">Current:</span>
  {{/if}}
  {{#if @route}}
    {{#if @model}}
      <LinkTo
        @route={{@route}}
        @model={{@model}}
      >
        {{@text}}
      </LinkTo>
    {{else}}
      <LinkTo @route={{@route}}>
        {{@text}}
      </LinkTo>
    {{/if}}
  {{else}}
    {{@text}}
  {{/if}}
</li>
