<button
  class="collapsible-text--trigger text-a11y-orange button small secondary"
  type="button"
  onClick={{this.toggleAdditionalText}}
  data-test-title="{{@buttonText}}"
>
  {{@buttonText}}
  <FaIcon @icon={{if this.showAdditionalText "caret-up" "caret-down"}}/>
</button>
{{#if this.showAdditionalText}}
  <div class="collapsible-text--content grow-down fast" data-test-additional-text ...attributes>
    {{yield}}
  </div>
{{/if}}
