<LinkTo
  @route="index"
  class="button secondary small medium-margin-top"
>
  {{this.loginEmail}}
  <FaIcon @icon="caret-down" />
</LinkTo>

<p>
  Your NYC.ID account has not been validated. In order to sign
  in, you must first click the validation link
  in the email sent to you by NYC.ID.
</p>

<a
  href="{{get-env-variable 'NYCIDDomain'}}/account/validateEmail.htm?emailAddress={{this.loginEmail}}&target={{nycid-target url=(get-env-variable 'NYCIDLocation')}}"
  class="button text-weight-bold"
  rel="noreferrer noopener"
>
  Validate your NYC.ID account
  &nbsp;
  <FaIcon @icon="external-link-alt" />
</a>

{{outlet}}
