<li
  class="large-margin-bottom"
  data-test-project-name={{@project.dcpProjectname}}
  data-test-type='to-do'
>
  <h3 class="no-margin">
    {{@project.dcpProjectname}}

    {{#if (eq @project.statuscode "On-Hold")}}
      <span class="text-red text-weight-normal"
            data-test-project-on-hold
      > 
        (On Hold) 
      </span>
    {{/if}}

    <small class="text-weight-normal">{{@project.id}}</small>
  </h3>

  <p class="tiny-margin-bottom">
    <span class="text-dark-gray">Primary Applicant:</span>
    {{@project.dcpApplicantCustomerValue}}
  </p>

  <LinkTo
    @route='packages.edit'
    @model={{@project.pasPackages.firstObject.id}}
    class="button small"
  >
    <FaIcon @icon="pen" @prefix="fas" />
    Edit Pre-Application Statement
  </LinkTo>
</li>
