<SaveableForm
  @model={{@package}}
  @validators={{array (hash) this.validations.SubmittableProjectsNewForm }}
  as |saveableProjectsNewForm|
>
  <div class="grid-x grid-margin-x">
    <div class="cell large-8">
      <section class="form-section">
        <h1 class="header-large">
          Project Initiation Form
        </h1>
        <p>
          The <b>Project Initiation Form</b> begins the project tracking process and gives NYC Planning the necessary
          details before the Informational Interest meeting. By submitting this form, you confirm your intent to file a
          Land Use Application with NYC Planning.
        </p>
        <p>
          While some projects might still be in the early stages, all required fields (*) on this form must be completed.
          Once submitted, your project will be available to view in this portal. After reviewing your submission, NYC
          Planning will contact you with the next steps.
        </p>
      </section>
      <Projects::ProjectsNewInformation
        @project={{saveableProjectsNewForm.data}}
        @form={{saveableProjectsNewForm}}
        @boroughOptions={{this.boroughOptions}}
        @onBoroughChange={{this.handleBoroughChange}}
        @selectedBorough={{this.selectedBorough}}
        @onApplicantTypeSelection={{this.handleApplicantTypeChange}}
        @selectedApplicantType={{this.selectedApplicantType}}
        @applicantOptions={{this.applicantOptions}}
      />

      <Projects::ProjectsNewAddContacts
        @form={{saveableProjectsNewForm}} />

      <Projects::ProjectsNewProjectDescription
        @form={{saveableProjectsNewForm}} />

      <Projects::ProjectsNewAttachedDocuments
        @artifact={{saveableProjectsNewForm.data}}
        @form={{saveableProjectsNewForm}}
        @model={{@package}} />
    </div>
    <div class="cell large-4 sticky-sidebar">
      <saveableProjectsNewForm.PageNav>
        <saveableProjectsNewForm.SubmitButton @isEnabled={{saveableProjectsNewForm.isSubmittable}} data-test-save-button />
      </saveableProjectsNewForm.PageNav>
      <Messages::Assistance class="large-margin-top" />
      <saveableProjectsNewForm.ConfirmationModal @action={{component saveableProjectsNewForm.SubmitButton onClick=this.submitProject class="no-margin" }}
        disabled={{or (not saveableProjectsNewForm.isSubmittable) this.submissionError this.isSubmitting }}
        @continueButtonTitle="Continue Editing" data-test-confirm-submit-button={{true}}>
        <h6>Confirm New Project Submission</h6>
        {{#if this.submissionError}}
          <p class="header-large medium-marin-top small-margin-bottom">Error while creating project. Lorem Ipsum.....</p>
        {{else}}
          <p class="header-large medium-margin-top small-margin-bottom">
            Are you sure?
          </p>
          <p>
            Before submitting, ensure that your answers are accurate and complete, and that necessary attachments have been uploaded. If NYC Planning does not receive enough accurate information to provide guidance, the Lead Planner will notify you and request that this form be resubmitted with necessary materials, corrections, or
            clarifications.
          </p>
        {{/if}}
      </saveableProjectsNewForm.ConfirmationModal>
    </div>
  </div>
</SaveableForm>