<li
  class="large-margin-bottom"
  data-test-project-name={{@project.dcpProjectname}}
  data-test-type='working-on-it'
>
  <h3 class="no-margin">
    {{@project.dcpProjectname}}

    {{#if (eq @project.statuscode "On-Hold")}}
      <span class="text-red text-weight-normal"
            data-test-project-on-hold
      > 
        (On Hold) 
      </span>
    {{/if}}

    <small class="text-weight-normal">{{@project.id}}</small>
  </h3>

  <p class="tiny-margin-bottom">
    <span class="text-dark-gray">Primary Applicant:</span>
    {{@project.dcpApplicantCustomerValue}}
  </p>

  {{#if this.showViewPas}}
    <LinkTo 
      @route="pas-form.show"
      @model={{@project.pasPackages.firstObject.id}}
      class="button hollow tiny"
      data-test-view-pas
    >
      View Pre-Application Statement
    </LinkTo>
  {{/if}}
</li>
