<div ...attributes>
  <fieldset class="fieldset">
    <Ui::Legend>
      Attachments
      <Ui::RequiredAsterisk />
    </Ui::Legend>

    <ul class="no-bullet">
      {{#each @fileManager.existingFiles as |file idx|}}
        <li class="slide-in-bottom">
          <div class="grid-x">
            <div class="cell auto">
              <a
                href={{concat (get-env-variable 'host') '/documents' file.serverRelativeUrl}}
                target="_blank"
                rel="noopener noreferrer"
                data-test-document-name={{idx}}
              >
                {{file.name}}
              </a>
            </div>
            <div class="cell shrink medium-padding-left">
              <small>
                {{file.timeCreated}}
              </small>
            </div>
            <div class="cell shrink medium-padding-left">
              <button
                type="button"
                class="text-red-dark"
                {{on "click" (fn this.markFileForDeletion file)}}
                data-test-delete-file-button={{idx}}
              >
                <FaIcon @icon="times" @prefix="fas" @fixedWidth={{true}} />
              </button>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>

    {{#if (or @fileManager.filesToDelete @fileManager.filesToUpload.files)}}
      {{#if @fileManager.existingFiles}}
        <hr>
      {{/if}}

      <h6 class="medium-margin-bottom slide-in-top">
        To be
        {{if @fileManager.filesToUpload.files 'uploaded'}}
        {{if (and @fileManager.filesToDelete @fileManager.filesToUpload.files) '/'}}
        {{if @fileManager.filesToDelete 'deleted'}}
        when you save the project:
      </h6>
    {{/if}}

    <ul class="no-bullet">
      {{#each @fileManager.filesToDelete as |file idx|}}
        <li class="slide-in-top">
          <div class="grid-x">
            <div class="cell auto">
              <b
                data-test-document-to-be-deleted-name={{idx}}
              >
                {{file.name}}
              </b>
            </div>
            <div class="cell shrink medium-padding-left">
              <small>
                TO BE DELETED
              </small>
            </div>
            <div class="cell shrink medium-padding-left">
              <button
                type="button"
                {{on "click" (fn this.unmarkFileForDeletion file)}}
                data-test-undo-delete-file-button={{idx}}
              >
                <FaIcon @icon="undo" @prefix="fas" @fixedWidth={{true}} />
              </button>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>

    <ul class="no-bullet">
      {{#each @fileManager.filesToUpload.files as |file idx|}}
        <li class="slide-in-top">
          <div class="grid-x">
            <div class="cell auto">
              <b
                data-test-document-to-be-uploaded-name={{idx}}
              >
                {{file.name}}
              </b>
            </div>
            <div class="cell shrink medium-padding-left">
              <small>
                TO BE ADDED
              </small>
            </div>
            <div class="cell shrink medium-padding-left">
              <button
                type="button"
                class="text-red-dark"
                {{on "click" (fn this.deselectFileForUpload file)}}
                data-test-deselect-file-button={{idx}}
              >
                <FaIcon @icon="times" @prefix="fas" @fixedWidth={{true}} />
              </button>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>

    <FileUpload
      id={{concat "FileUploader" @artifact.id}}
      @name={{concat "artifact" @artifact.id}}
      @accept='*/*'
      @multiple={{true}}
      @onfileadd={{this.trackFileForUpload}}
      class="button secondary expanded"
    >
      <FaIcon @icon="upload" @prefix="fas" />
      Choose Files
    </FileUpload>

    <p class="text-small tiny-margin-bottom text-dark-gray">
      The size limit for each file is 50 MB. You can upload up to 1 GB of files.
    </p>
  </fieldset>
</div>
