{{#let @form as |form|}}
<form.Section @title='Project Information'>
  <Ui::Question @required={{true}} as |Q|>
    <Q.Label>
      Project Name
    </Q.Label>
    <form.Field 
      @attribute='projectName' 
      @type='text-input' 
      id={{Q.questionId}} 
      @showCounter={{true}}
      @maxlength='50'
      placeholder="project name"
    />
  </Ui::Question>
  <Ui::Question @required={{true}} as |Q|>
    <Q.Label data-test-projects-new-borough-dropdown>
      Borough
    </Q.Label>
    <PowerSelect 
      supportsDataTestProperties={{true}} 
      @attribute='borough' 
      @options={{@boroughOptions}} 
      @onChange={{fn (mut @project.borough)}}
      @selected={{@project.borough}}  
      @searchField='label' 
      data-test-id='project-new-borough-dropdown' 
      @placeholder='select a borough' as |borough|>
       {{borough.label}}
    </PowerSelect>
    {{#if form.errors.borough}}
      {{#each form.errors.borough.validation as |message|}}
        <div class="form-error is-visible" data-test-validation-message="select a borough">{{message}}</div>
      {{/each}}
    {{/if}}
  </Ui::Question>
  <Ui::Question @required={{true}} as |Q|>
    <Q.Label data-test-projects-new-applicant-type>
      Applicant Type
    </Q.Label>
    <p class='q-help'>
      Identify if you represent a public agency or are a private entity.
    </p>
    <PowerSelect
      supportsDataTestProperties={{true}}
      @attribute='applicantType'
      @options={{@applicantOptions}} 
      @onChange={{fn (mut @project.applicantType)}}
      @selected={{@project.applicantType}}
      @searchField='label'
      data-test-id='projects-new-applicant-type'
      @placeholder='select applicant type' as |dcpApplicantType| >
      {{dcpApplicantType.label}}
    </PowerSelect>
    {{#if form.errors.applicantType}}
      {{#each form.errors.applicantType.validation as |message|}}
          <div class="form-error is-visible"    data-test-validation-message="select an Applicant Type"> {{message}}
        </div>
      {{/each}}
    {{/if}}
  </Ui::Question>
</form.Section>
{{/let}}

