{{#if this.hasUpcomingMaintenance }}
  <div class="maintenance-wrapper">
    <p>
      Please be advised that there will be scheduled maintenance on ZAP Search and the Applicant Portal from June 1, 2022, 3:00 pm to June 1, 2022, 4:00 pm. During that time, you will not be able to sign in to your account.  Thank you for your understanding. For help, please email <a href="mailto:ZAP_support_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a>
    </p>
  </div>
{{/if}}

{{#if this.isMaintenancePeriod}}
  <div class="maintenance-wrapper">
    <p>
      Please be advised that we are currently performing scheduled maintenance from June 2, 2022, 9:00 pm to June 2, 2022, 6:00 pm. During this time, you will not be able to sign in to your account. Thank you for your understanding. For help, please email <a href="mailto:ZAP_support_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a>
    </p>
  </div>
{{/if}}

<form {{on 'submit' (fn this.startLogin this.email)}}>
  <Ui::Question as |Q|>
    <Q.Label>
      Email Address
    </Q.Label>

    <Input
      @type="text"
      @value={{this.email}}
      id={{Q.questionId}}
      disabled={{if (or this.isLoginStarted this.isMaintenancePeriod) "disabled"}}
    />

    <div class="grid-x grid-margin-x">
      <div class="cell medium-3 medium-order-2">
        <button
          class="button secondary expanded text-weight-bold"
          type="submit"
          data-test-sign-in="next"
          disabled={{if (or this.isLoginStarted this.isMaintenancePeriod) "disabled"}}
        >
          {{#if this.isLoginStarted}}
            <FaIcon @icon="spinner" @spin={{true}} @pulse={{true}} class="small-margin-right" />
          {{else}}
            Next
            <FaIcon @icon="arrow-right" @fixedWidth={{true}} />
          {{/if}}
        </button>
      </div>
      <div class="cell auto medium-order-1">
        <p class="text-small text-dark-gray">
          If you're unsure which email address to use, contact City Planning at
          <a href="mailto:ZAP_feedback_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a> or <a href="tel:212-720-3300" class="nowrap">212-720-3300</a>.
        </p>
      </div>
    </div>
  </Ui::Question>
</form>
