{{#if this.hasUpcomingMaintenance}}
  <h1>Please note: This portal will be down for 24 hours of system maintenance starting Monday, June 28 at 7PM.</h1>
{{/if}}

<form {{on 'submit' (fn this.startLogin this.email)}}>
  <Ui::Question as |Q|>
    <Q.Label>
      Email Address
    </Q.Label>

    <Input
      @type="text"
      @value={{this.email}}
      id={{Q.questionId}}
      disabled={{if this.isLoginStarted "disabled"}}
    />

    <div class="grid-x grid-margin-x">
      <div class="cell medium-3 medium-order-2">
        <button
          class="button secondary expanded text-weight-bold"
          type="submit"
          data-test-sign-in="next"
          disabled={{if (or this.isLoginStarted this.isMaintenancePeriod) "disabled"}}
        >
          {{#if this.isLoginStarted}}
            <FaIcon @icon="spinner" @spin={{true}} @pulse={{true}} class="small-margin-right" />
          {{else}}
            Next
            <FaIcon @icon="arrow-right" @fixedWidth={{true}} />
          {{/if}}
        </button>
      </div>
      <div class="cell auto medium-order-1">
        <p class="text-small text-dark-gray">
          If you're unsure which email address to use, contact City Planning at
          <a href="mailto:ZAP_feedback_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a> or <a href="tel:212-720-3300" class="nowrap">212-720-3300</a>.
        </p>
      </div>
    </div>
  </Ui::Question>
</form>
