<h3 class="clearfix">
  Project Editors
  <button
    type="button"
    class="button secondary small float-right no-margin"
    {{on "click" this.toggleContactMgmt }}
  >
    {{if this.contactMgmtOpen 'Cancel' 'Manage'}}
    <FaIcon @icon='users-cog' @fixedWidth={{true}} />
  </button>
</h3>

<ul class="no-bullet">
  {{#each @projectApplicants as |projectApplicant|}}
    {{#if (and (eq projectApplicant.contact.statuscode this.contactActiveStatusCode) (eq projectApplicant.contact.statecode this.contactActiveStateCode))}}
      <Project::ProjectEditorListItem
        @name={{projectApplicant.displayName}}
        @emailAddress={{projectApplicant.email}}
        @phone={{projectApplicant.contact.telephone1}}
        @isRegistered={{projectApplicant.contact.isNycidEmailRegistered}}
        @projectName={{projectApplicant.project.dcpProjectname}}
        @canDelete={{and (not projectApplicant.isPrimaryApplicantOrContact) this.contactMgmtOpen}}
        @onDelete={{fn this.removeEditor projectApplicant}}
      />
    {{/if}}
  {{/each}}
</ul>

{{#if this.contactMgmtOpen}}
  <fieldset class="fieldset">
    <legend class="text-weight-bold">
      <FaIcon @icon='user-plus' @fixedWidth={{true}} @transform='down-1' class="text-gray" />
      Add Project Editor
    </legend>

    <div class="grid-x grid-margin-x">
      <div class="cell medium-6">
        <label class="text-small">
          First Name
          <Input
            @type="text"
            autocomplete="off"
            @value={{this.firstName}}
          />
        </label>
      </div>
      <div class="cell medium-6">
        <label class="text-small">
          Last Name
          <Input
            @type="text"
            autocomplete="off"
            @value={{this.lastName}}
          />
        </label>
      </div>
    </div>

    <label class="text-small">
      Email Address
      <Input
        @type="text"
        autocomplete="off"
        @value={{this.emailAddress}}
      />
    </label>

    <button
      class="button expanded no-margin text-weight-bold"
      type="button"
      {{on "click" this.addEditor }}
    >
      Add Project Editor
    </button>
  </fieldset>
{{/if}}

<Ui::GenericModal
  @show={{this.addEditorModalOpen}}
  @closeButtonAction={{fn (mut this.addEditorModalOpen) false}}
>
  {{#if this.matchingCurrentApplicant}}
    <h4>A Project Editor with the email address you entered already exists on this project.</h4>
  {{else}}
    <h4>Are you sure you want to add...</h4>
    <Project::ProjectEditorListItem
      @name="{{this.firstName}} {{this.lastName}}"
      @emailAddress={{this.emailAddress}}
      @isRegistered={{this.contact.isNycidEmailRegistered}}
    />
    <p>If you add this Editor, they will be able to view and edit this Project.</p>
    <div class="grid-x">
      <div class="cell large-6 small-padding-right">
        <button
          class="button expanded large"
          type="button"
          {{on "click" this.save }}
        >
          <strong>Add Editor</strong>
        </button>
      </div>
      <div class="cell large-6 small-padding-left">
        <button
          type="button"
          class="button expanded large secondary"
          {{on "click" (fn (mut this.addEditorModalOpen) false)}}
          >
          Cancel
        </button>
      </div>
    </div>
  {{/if}}
</Ui::GenericModal>
