<div class="grid-x grid-margin-x">
  <div class="cell large-8">

    <section class="form-section" id="#project-info">
      <h3>Project Information</h3>

      <p>
        The <strong>Pre-Application Statement</strong> requests pertinent information about a site and proposed project. By submitting the PAS, a prospective applicant acknowledges that they intend to file a land use application with NYC Planning. Submission allows staff to be assigned from appropriate divisions and project tracking to commence.
      </p>

      <p>
        NYC Planning understands that some projects may not be fully formed at the submission of the PAS. Give as much detailed information as possible. Failure to provide detailed, relevant information will result in the PAS being rejected.
      </p>

      <label>
        <strong>Project Name</strong>
        <Input
          @type="text"
          @value={{@package.dcpRevisedprojectname}}
        />
      </label>
    </section>

    <section class="form-section" id="#applicant-team">
      <h3>Applicant Team</h3>

      {{!-- TODO: Add applicant-team-editor component --}}
      <div class="bg-red-dim xlarge-padding medium-margin-bottom">applicant-team-editor component</div>
    </section>

    <section class="form-section" id="#applicant-team">
      <h3>Project Geography</h3>

      {{!-- TODO: Add project-geography-editor component --}}
      <div class="bg-red-dim xlarge-padding medium-margin-bottom">project-geography-editor component</div>

      <label>
        <strong>Description of geography</strong>
        <Textarea @value={{@package.dcpDescriptionofprojectareageography}} rows="5" />
      </label>
    </section>

    <section class="form-section" id="#proposed-land-use-actions">
      <h3>Proposed Land Use Actions</h3>

      <p>
        What land use actions does the proposed project require? Identify all that apply, adding multiple of the same type when necessary, and fill in the appropriate related information.
      </p>

      <p class="text-small">
        Note: This is preliminary information and may change following discussion with NYC Planning.
      </p>

      {{!-- TODO: Add land-use-actions-editor component --}}
      <div class="bg-red-dim xlarge-padding medium-margin-bottom">land-use-actions-editor component</div>
    </section>

    <section class="form-section" id="#project-area">
      <h3>Project Area</h3>

      <p>
        Project Area refers to all property that would be subject to the proposed actions.
      </p>

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Does the proposed Project, or portion thereof, require a NYC DEP Storm Water Construction Permit?</strong>
        </legend>
        <Input
          @type="radio"
          @name="dcpProposedprojectorportionconstruction"
            @value='717170000'
          id="dcpProposedprojectorportionconstructionYes"
        /><label for="dcpProposedprojectorportionconstructionYes">Yes</label>
        <Input
          @type="radio"
          @name="dcpProposedprojectorportionconstruction"
          @value='717170001'
          id="dcpProposedprojectorportionconstructionNo"
        /><label for="dcpProposedprojectorportionconstructionNo">No</label>
        <Input
          @type="radio"
          @name="dcpProposedprojectorportionconstruction"
          @value='717170002'
          id="dcpProposedprojectorportionconstructionUnsure"
        /><label for="dcpProposedprojectorportionconstructionUnsure">Unsure at this time</label>
      </fieldset>

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Is the proposed Project Area located in a current or former <a href="#">Urban Renewal Area</a>?</strong>
          {{!-- TODO: add link --}}
        </legend>
        <Input
          @type="radio"
          @name="dcpUrbanrenewalarea"
          @value='717170000'
          id="dcpUrbanrenewalareaYes"
        /><label for="dcpUrbanrenewalareaYes">Yes</label>
        <Input
          @type="radio"
          @name="dcpUrbanrenewalarea"
          @value='717170001'
          id="dcpUrbanrenewalareaNo"
        /><label for="dcpUrbanrenewalareaNo">No</label>
        <Input
          @type="radio"
          @name="dcpUrbanrenewalarea"
          @value='717170002'
          id="dcpUrbanrenewalareaUnsure"
        /><label for="dcpUrbanrenewalareaUnsure">Unsure at this time</label>
      </fieldset>

      {{#if @package.dcpUrbanrenewalarea}}
        <label>
          <strong>What is the name of the Urban Renewal Area?</strong>
          <Input
          @type="text"
          @value={{@package.dcpUrbanareaname}}
        />
        </label>
      {{/if}}

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>What is the <a href="#">Legal Street Frontage Status in the Project Area</a>?</strong>
          {{!-- TODO: add link --}}
        </legend>
        <span class="nowrap">
          <Input
            @type="radio"
            @name="dcpLegalstreetfrontage"
            @value='717170000'
            id="dcpLegalstreetfrontage717170000"
          /><label for="dcpLegalstreetfrontage717170000">Mapped and Build</label>
        </span>
        <span class="nowrap">
          <Input
            @type="radio"
            @name="dcpLegalstreetfrontage"
            @value='717170001'
            id="dcpLegalstreetfrontage717170001"
          /><label for="dcpLegalstreetfrontage717170001">Private Road</label>
        </span>
        <span class="nowrap">
          <Input
            @type="radio"
            @name="dcpLegalstreetfrontage"
            @value='717170002'
            id="dcpLegalstreetfrontage717170002"
          /><label for="dcpLegalstreetfrontage717170002">Record Street</label>
        </span>
        <span class="nowrap">
          <Input
            @type="radio"
            @name="dcpLegalstreetfrontage"
            @value='717170003'
            id="dcpLegalstreetfrontage717170003"
          /><label for="dcpLegalstreetfrontage717170003">Corporation Counsel Opinion</label>
        </span>
        <span class="nowrap">
          <Input
            @type="radio"
            @name="dcpLegalstreetfrontage"
            @value='717170004'
            id="dcpLegalstreetfrontage717170004"
          /><label for="dcpLegalstreetfrontage717170004">Mapped but not Build</label>
        </span>
      </fieldset>

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Do all land use actions meet <a href="#">SEQRA or CEQR criteria</a> for Type II status?</strong>
          {{!-- TODO: add link --}}
        </legend>
        <Input
          @type="radio"
          @name="dcpLanduseactiontype2"
          @value='717170000'
          id="dcpLanduseactiontype2Yes"
        /><label for="dcpLanduseactiontype2Yes">Yes</label>
        <Input
          @type="radio"
          @name="dcpLanduseactiontype2"
          @value='717170001'
          id="dcpLanduseactiontype2No"
        /><label for="dcpLanduseactiontype2No">No</label>
        <Input
          @type="radio"
          @name="dcpLanduseactiontype2"
          @value='717170002'
          id="dcpLanduseactiontype2Unsure"
        /><label for="dcpLanduseactiontype2Unsure">Unsure at this time</label>
      </fieldset>

      {{#if @package.dcpLanduseactiontype2}}
        <label>
          <strong>Indicate which SEQRA or CEQR category each action fulfills</strong>
          <Input
            @type="text"
            @value={{@package.dcpPleaseexplaintypeiienvreview}}
          />
        </label>
      {{/if}}

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Is the proposed Project Area in an <a href="#">Industrial Business Zone</a>?</strong>
          {{!-- TODO: add link --}}
        </legend>
        <Input
          @type="radio"
          @name="dcpProjectareaindustrialbusinesszone"
          @value={{true}}
          id="dcpProjectareaindustrialbusinesszoneYes"
        /><label for="dcpProjectareaindustrialbusinesszoneYes">Yes</label>
        <Input
          @type="radio"
          @name="dcpProjectareaindustrialbusinesszone"
          @value={{false}}
          id="dcpProjectareaindustrialbusinesszoneNo"
        /><label for="dcpProjectareaindustrialbusinesszoneNo">No</label>
      </fieldset>

      {{#if @package.dcpProjectareaindustrialbusinesszone}}
        <label>
          <strong>Name of Industrial Business Zone</strong>
          <Input
            @type="text"
            @value={{@package.dcpProjectareaindutrialzonename}}
          />
        </label>
      {{/if}}

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Is the proposed Project Area within or adjacent to a designated (City or State) <a href="#">Landmark or Historic District</a>?</strong>
          {{!-- TODO: add link --}}
        </legend>
        <Input
          @type="radio"
          @name="dcpIsprojectarealandmark"
          @value={{true}}
          id="dcpIsprojectarealandmarkYes"
        /><label for="dcpIsprojectarealandmarkYes">Yes</label>
        <Input
          @type="radio"
          @name="dcpIsprojectarealandmark"
          @value={{false}}
          id="dcpIsprojectarealandmarkNo"
        /><label for="dcpIsprojectarealandmarkNo">No</label>
      </fieldset>

      {{#if @package.dcpIsprojectarealandmark}}
        <label>
          <strong>Name of Landmark or Historic District</strong>
          <Input
            @type="text"
            @value={{@package.dcpProjectarealandmarkname}}
          />
        </label>
      {{/if}}

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Is the proposed Project Area located within the <a href="#">NYC Coastal Zone</a>?</strong>
          {{!-- TODO: add link --}}
        </legend>
        <Input
          @type="radio"
          @name="dcpProjectareacoastalzonelocatedin"
          @value={{true}}
          id="dcpProjectareacoastalzonelocatedinYes"
        /><label for="dcpProjectareacoastalzonelocatedinYes">Yes</label>
        <Input
          @type="radio"
          @name="dcpProjectareacoastalzonelocatedin"
          @value={{false}}
          id="dcpProjectareacoastalzonelocatedinNo"
        /><label for="dcpProjectareacoastalzonelocatedinNo">No</label>
      </fieldset>

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Is the Project Area located within the <a href="#">1% annual chance floodplain</a>?</strong>
          {{!-- TODO: add link --}}
        </legend>
        <Input
          @type="radio"
          @name="dcpProjectareaischancefloodplain"
          @value='717170000'
          id="dcpProjectareaischancefloodplainYes"
        /><label for="dcpProjectareaischancefloodplainYes">Yes</label>
        <Input
          @type="radio"
          @name="dcpProjectareaischancefloodplain"
          @value='717170001'
          id="dcpProjectareaischancefloodplainNo"
        /><label for="dcpProjectareaischancefloodplainNo">No</label>
        <Input
          @type="radio"
          @name="dcpProjectareaischancefloodplain"
          @value='717170002'
          id="dcpProjectareaischancefloodplainUnsure"
        /><label for="dcpProjectareaischancefloodplainUnsure">Unsure at this time</label>
      </fieldset>

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Is a <a href="#">legal instrument</a> associated with a previous CPC or CPC Chair action recorded against the project site?</strong>
          {{!-- TODO: add link --}}
        </legend>
        <Input
          @type="radio"
          @name="dcpRestrictivedeclaration"
          @value={{true}}
          id="dcpRestrictivedeclarationYes"
        /><label for="dcpRestrictivedeclarationYes">Yes</label>
        <Input
          @type="radio"
          @name="dcpRestrictivedeclaration"
          @value={{false}}
          id="dcpRestrictivedeclarationNo"
        /><label for="dcpRestrictivedeclarationNo">No</label>
      </fieldset>

      <label>
        <strong>City Register File Number</strong>
        <Input
          @type="text"
          @value={{@package.dcpCityregisterfilenumber}}
        />
      </label>

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Will a new legal instrument or modification of a current legal instrument be necessary to approve/implement these actions?</strong>
        </legend>
        <Input
          @type="radio"
          @name="dcpRestrictivedeclarationrequired"
          @value='717170000'
          id="dcpRestrictivedeclarationrequiredYes"
        /><label for="dcpRestrictivedeclarationrequiredYes">Yes</label>
        <Input
          @type="radio"
          @name="dcpRestrictivedeclarationrequired"
          @value='717170001'
          id="dcpRestrictivedeclarationrequiredNo"
        /><label for="dcpRestrictivedeclarationrequiredNo">No</label>
        <Input
          @type="radio"
          @name="dcpRestrictivedeclarationrequired"
          @value='717170002'
          id="dcpRestrictivedeclarationrequiredUnsure"
        /><label for="dcpRestrictivedeclarationrequiredUnsure">Unsure at this time</label>
      </fieldset>

    </section>

    <section class="form-section" id="#proposed-development-site">
      <h3>Proposed Development Site</h3>
      <p>
        Development Site refers to all property to be developed as part of the applicant’s specific proposal which the land use actions would facilitate. Typically, the Development Site and the Project Area will comprise the same property(ies) unless the application is requesting a zoning map amendment covering an area greater than an applicant’s property to be developed or a large-scale special approval involving multiple tax lots. In these cases, the Development Site may be one or several tax lots within a broader Project Area.
      </p>

      <label>
        <strong>In what year do you expect the development to complete?</strong>
        <Input
          @type="text" @value={{@package.dcpEstimatedcompletiondate}}
        />
        {{!-- TODO: Do we need a date picker here? --}}
      </label>

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>What Type of Development is Proposed? (select all that apply)</strong>
        </legend>
        <ul class="no-bullet no-margin">
          <li>
            <Input
              @type="checkbox"
              @checked={{@package.dcpProposeddevelopmentsitenewconstruction}}
              id="dcpProposeddevelopmentsitenewconstruction"
            /><label for="dcpProposeddevelopmentsitenewconstruction">Newly constructed buildings</label>
          </li>
          <li>
            <Input
              @type="checkbox"
              @checked={{@package.dcpProposeddevelopmentsitedemolition}}
              id="dcpProposeddevelopmentsitedemolition"
            /><label for="dcpProposeddevelopmentsitedemolition">Demolition</label>
          </li>
          <li>
            <Input
              @type="checkbox"
              @checked={{@package.dcpProposeddevelopmentsiteinfoalteration}}
              id="dcpProposeddevelopmentsiteinfoalteration"
            /><label for="dcpProposeddevelopmentsiteinfoalteration">Alteration</label>
          </li>
          <li>
            <Input
              @type="checkbox"
              @checked={{@package.dcpProposeddevelopmentsiteinfoaddition}}
              id="dcpProposeddevelopmentsiteinfoaddition"
            /><label for="dcpProposeddevelopmentsiteinfoaddition">Addition</label>
          </li>
          <li>
            <Input
              @type="checkbox"
              @checked={{@package.dcpProposeddevelopmentsitechnageofuse}}
              id="dcpProposeddevelopmentsitechnageofuse"
            /><label for="dcpProposeddevelopmentsitechnageofuse">Change of use</label>
          </li>
          <li>
            <Input
              @type="checkbox"
              @checked={{@package.dcpProposeddevelopmentsiteenlargement}}
              id="dcpProposeddevelopmentsiteenlargement"
            /><label for="dcpProposeddevelopmentsiteenlargement">Enlargement</label>
          </li>
          <li>
            <Input
              @type="checkbox"
              @checked={{@package.dcpProposeddevelopmentsiteinfoother}}
              id="dcpProposeddevelopmentsiteinfoother"
            /><label for="dcpProposeddevelopmentsiteinfoother">Other&hellip;</label>
          </li>
        </ul>
        {{#if @package.dcpProposeddevelopmentsiteinfoother}}
          <label>Explain:
            <Input
              @type="text"
              @value={{@package.dcpProposeddevelopmentsiteotherexplanation}}
            />
          </label>
        {{/if}}
      </fieldset>

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Is the Development Site in an <a href="#">Inclusionary Housing Designated Area/Mandatory Inclusionary Housing Area</a>?</strong>
          {{!-- TODO: add link --}}
        </legend>
        <Input
          @type="radio"
          @name="dcpIsinclusionaryhousingdesignatedarea"
          @value={{true}}
          id="dcpIsinclusionaryhousingdesignatedareaYes"
        /><label for="dcpIsinclusionaryhousingdesignatedareaYes">Yes</label>
        <Input
          @type="radio"
          @name="dcpIsinclusionaryhousingdesignatedarea"
          @value={{false}}
          id="dcpIsinclusionaryhousingdesignatedareaNo"
        /><label for="dcpIsinclusionaryhousingdesignatedareaNo">No</label>
        <p class="help-text">
          Refer to <a  href="#">Appendix F</a> of the Zoning Resolution for full list of all inclusionary housing areas which are areas that incentivize or require affordable housing in certain areas.
          {{!-- TODO: add link --}}
        </p>
      </fieldset>

      {{#if @package.dcpIsinclusionaryhousingdesignatedarea}}
        <label>
          <strong>Name of Inclusionary Housing Designated Area/Mandatory Inclusionary Housing Area</strong>
          <Input
            @type="text"
            @value={{@package.dcpInclusionaryhousingdesignatedareaname}}
          />
        </label>
      {{/if}}

      <fieldset class="medium-margin-bottom">
        <legend>
          <strong>Does the proposed development involve discretionary funding for Affordable Housing Units?</strong>
        </legend>
        <Input
          @type="radio"
          @name="dcpDiscressionaryfundingforffordablehousing"
          @value='717170000'
          id="dcpDiscressionaryfundingforffordablehousingYes"
        /><label for="dcpDiscressionaryfundingforffordablehousingYes">Yes</label>
        <Input
          @type="radio"
          @name="dcpDiscressionaryfundingforffordablehousing"
          @value='717170001'
          id="dcpDiscressionaryfundingforffordablehousingNo"
        /><label for="dcpDiscressionaryfundingforffordablehousingNo">No</label>
        <Input
          @type="radio"
          @name="dcpDiscressionaryfundingforffordablehousing"
          @value='717170002'
          id="dcpDiscressionaryfundingforffordablehousingUnsure"
        /><label for="dcpDiscressionaryfundingforffordablehousingUnsure">Unsure at this time</label>
      </fieldset>

      {{#if @package.dcpDiscressionaryfundingforffordablehousing}}
        <fieldset class="medium-margin-bottom">
          <legend>
            <strong>Funding source</strong>
          </legend>
          <Input
            @type="radio"
            @name="dcpHousingunittype"
            @value='717170000'
            id="dcpHousingunittypeCity"
          /><label for="dcpHousingunittypeCity">City</label>
          <Input
            @type="radio"
            @name="dcpHousingunittype"
            @value='717170001'
            id="dcpHousingunittypeState"
          /><label for="dcpHousingunittypeState">State</label>
          <Input
            @type="radio"
            @name="dcpHousingunittype"
            @value='717170002'
            id="dcpHousingunittypeFederal"
          /><label for="dcpHousingunittypeFederal">Federal</label>
          <Input
            @type="radio"
            @name="dcpHousingunittype"
            @value='717170003'
            id="dcpHousingunittypeOther"
          /><label for="dcpHousingunittypeOther">Other</label>
        </fieldset>
      {{/if}}
    </section>

    <section class="form-section" id="#project-description">
      <h3>Project Description</h3>

      <label>
        <strong>Description of the proposed development being facilitated by the land use actions</strong>
        <Textarea @value={{@package.dcpProjectdescriptionproposeddevelopment}} rows="5" />
      </label>

      <label>
        <strong>Why is this application being proposed? What is the legal, environmental, or land use background?</strong>
        <Textarea @value={{@package.dcpProjectdescriptionbackground}} rows="5" />
      </label>

      <label>
        <strong>What is the land use rationale for all the proposed actions?</strong>
        <Textarea @value={{@package.dcpProjectdescriptionproposedactions}} rows="5" />
      </label>

      <label>
        <strong>Description of existing land uses and structures in the proposed Project Area and Development Site</strong>
        <Textarea @value={{@package.dcpProjectdescriptionproposedarea}} rows="5" />
      </label>

      <label>
        <strong>Description of land uses and built context in surrounding area (within 1000 ft)</strong>
        <Textarea @value={{@package.dcpProjectdescriptionsurroundingarea}} rows="5" />
      </label>

      <label>
        <strong>Description of proposed CEQR scope</strong>
        <Textarea @value={{@package.dcpProjectattachmentsotherinformation}} rows="5" />
      </label>
      <p class="help-text">
        Include to expedite CEQR guidance: If proposed actions are not approved, what is the applicant’s as-of-right development (CEQR “no-action”) proposal? What would be expected to occur on non-applicant-controlled sites because of the Proposed Actions (CEQR “with-action”)?
      </p>
    </section>

    <section class="form-section" id="#attached-documents">
      <h3>Attached Documents</h3>

      <p>
        Please attach the following required documents. (Additional materials that help to explain the proposed project may also be submitted.)
      </p>

      <div class="grid-x grid-margin-x">
        <div class="cell large-6">
          <h5>Required for all projects:</h5>
          <ul class="text-small">
            <li class="small-margin-bottom">
              <a href="#">Tax Map(s)</a> — if project area has more than one tax block submit a separate map for each tax block
              {{!-- TODO: add link --}}
            </li>
            <li class="small-margin-bottom">
              <a href="#">Official Zoning Map</a> — circle the project area
              {{!-- TODO: add link --}}
            </li>
            <li class="small-margin-bottom">
              <a href="#">Land Use Map</a>
              {{!-- TODO: add link --}}
            </li>
            <li class="small-margin-bottom">
              Site Plan — include building heights, unit counts and square footage calculations (GSF & ZSF) for proposed project (certain exceptions apply, consult the Lead Planner)
            </li>
            <li class="small-margin-bottom">
              Photographs
            </li>
            <li class="small-margin-bottom">
              Signature Form
            </li>
          </ul>
        </div>
        <div class="cell large-6">
          <h5>For projects in the NYC Coastal Zone: </h5>
          <ul class="text-small">
            <li class="small-margin-bottom">
              Map of <a href="#">project location within the NYC coastal zone</a> including Special Area Designations
              {{!-- TODO: add link --}}
            </li>
          </ul>

          <h5>
            For <a href="#">City Map changes</a>:
            {{!-- TODO: add link --}}
          </h5>
          <ul class="text-small">
            <li class="small-margin-bottom">Most recent Borough President’s final Section Map or most recent approved and filed Alteration Map for the project area</li>
            <li class="small-margin-bottom">Site survey — recommended but not required</li>
          </ul>
        </div>
      </div>

      {{!-- TODO: Add attachments-editor component --}}
      <div class="bg-red-dim xlarge-padding medium-margin-bottom">attachments-editor component</div>
    </section>

  </div>
  <div class="cell large-4">

    <div class="sticky-sidebar">
      <p>
        <button
          type="button"
          class="button expanded large"
          {{!-- {{on "click" @save}} --}}
        >
          Save
        </button>
        <button
          type="button"
          class="button expanded large secondary"
          {{!-- {{on "click" @submit}} --}}
          disabled
        >
          Submit
        </button>
      </p>
      <nav>
        <ul class="no-bullet text-weight-bold">
          <li class="medium-margin-bottom">
            <a href="#project-info">
              <FaIcon @icon="chevron-circle-down" @fixedWidth={{true}} class="text-silver" />
              Project Information
            </a>
          </li>
          <li class="medium-margin-bottom">
            <a href="#applicant-team">
              <FaIcon @icon="chevron-circle-down" @fixedWidth={{true}} class="text-silver" />
              Applicant Team
            </a>
          </li>
          <li class="medium-margin-bottom">
            <a href="#">
              <FaIcon @icon="chevron-circle-down" @fixedWidth={{true}} class="text-silver" />
              Project Geography
            </a>
          </li>
          <li class="medium-margin-bottom">
            <a href="#">
              <FaIcon @icon="chevron-circle-down" @fixedWidth={{true}} class="text-silver" />
              Proposed Land Use Actions
            </a>
          </li>
          <li class="medium-margin-bottom">
            <a href="#">
              <FaIcon @icon="chevron-circle-down" @fixedWidth={{true}} class="text-silver" />
              Project Area
            </a>
          </li>
          <li class="medium-margin-bottom">
            <a href="#">
              <FaIcon @icon="chevron-circle-down" @fixedWidth={{true}} class="text-silver" />
              Proposed Development Site
            </a>
          </li>
          <li class="medium-margin-bottom">
            <a href="#">
              <FaIcon @icon="chevron-circle-down" @fixedWidth={{true}} class="text-silver" />
              Project Description
            </a>
          </li>
          <li class="medium-margin-bottom">
            <a href="#">
              <FaIcon @icon="chevron-circle-down" @fixedWidth={{true}} class="text-silver" />
              Attached Documents
            </a>
          </li>
        </ul>
      </nav>
    </div>{{!-- end .sticky-sidebar --}}

  </div>
</div>


{{yield}}
