<h5>Add a Tax Lot by Searching a BBL or an Address</h5>
<LabsSearch
  @searchPlaceholder='Look up BBL (ex 1001440001)'
  data-test-input="bbl-search"
  @onSelect={{fn this.selectSearchResult}} as |search|
>
  <small class="dark-gray">{{search.result.label}} <br> {{bbl-breakup search.result.bbl}}</small>
</LabsSearch>

{{#each @bbls as |bbl idx|}}
  <fieldset class="fieldset">
    <legend data-test-bbl-title="{{bbl.dcpBblnumber}}">
    <strong>{{bbl.dcpBblnumber}}</strong>
  </legend>
  <fieldset>
    <legend data-test-development-site-question="{{bbl.dcpBblnumber}}-{{bbl.dcpDevelopmentsite}}">
      Is this BBL part of the development site?
    </legend>
    <Input
      @type="radio"
      name={{concat idx '-bbl-dev-site'}}
      id={{concat idx '-bbl-dev-site-yes'}}
      @value={{eq bbl.dcpDevelopmentsite true}}
      @checked={{eq bbl.dcpDevelopmentsite true}}
      onClick={{fn this.updateAttr bbl "dcpDevelopmentsite" true}}
      data-test-bbl-development-site-yes="{{bbl.dcpBblnumber}}"
    />
    <label for="{{concat idx '-bbl-dev-site-yes'}}">
      Yes
    </label>
    <Input
      @type="radio"
      name={{concat idx '-bbl-dev-site'}}
      id={{concat idx '-bbl-dev-site-no'}}
      @value={{eq bbl.dcpDevelopmentsite false}}
      @checked={{eq bbl.dcpDevelopmentsite false}}
      onClick={{fn this.updateAttr bbl "dcpDevelopmentsite" false}}
      data-test-bbl-development-site-no="{{bbl.dcpBblnumber}}"
    />
    <label for="{{concat idx '-bbl-dev-site-no'}}">
      No
    </label>
  </fieldset>
  <fieldset>
    <legend data-test-partial-lot-question="{{bbl.dcpBblnumber}}-{{bbl.dcpPartiallot}}">
      Is this a partial lot?
    </legend>
    <Input
      type="radio"
      name="bbl-partial-lot-yes"
      id="bbl-partial-lot-yes"
      @value={{eq bbl.dcpPartiallot true}}
      @checked={{eq bbl.dcpPartiallot true}}
      onClick={{fn this.updateAttr bbl "dcpPartiallot" true}}
      data-test-bbl-partial-lot-yes="{{bbl.dcpBblnumber}}"
    />
    <label for="bbl-partial-lot-yes">
      Yes
    </label>
    <Input
      @type="radio"
      name="bbl-partial-lot-no"
      id="bbl-partial-lot-no"
      @value={{eq bbl.dcpPartiallot false}}
      @checked={{eq bbl.dcpPartiallot false}}
      onClick={{fn this.updateAttr bbl "dcpPartiallot" false}}
      data-test-bbl-partial-lot-no="{{bbl.dcpBblnumber}}"
    />
    <label for="bbl-partial-lot-no">
      No
    </label>
  </fieldset>
    <div class="text-right">
      <button 
        type="button" 
        class="text-red"
        data-test-button-remove-bbl="{{bbl.dcpBblnumber}}" 
        onClick={{fn this.removeBbl bbl}}
      >
        {{fa-icon 'times'}} DELETE
      </button>
    </div>
  </fieldset>
{{/each}}
