<h5>Add a tax lot by searching a BBL or an address</h5>
<LabsSearch
  @searchPlaceholder='Look up BBL (ex 1001440001)'
  data-test-input="bbl-search"
  @onSelect={{fn this.selectSearchResult}} as |search|
>
  <small class="dark-gray">{{search.result.label}} <br> {{bbl-breakup search.result.bbl}}</small>
</LabsSearch>

{{#each @bbls as |bbl|}}
  <fieldset class="fieldset relative">
    <legend data-test-bbl-title="{{bbl.dcpBblnumber}}">
      <a
        href="https://zola.planning.nyc.gov/bbl/{{bbl.dcpBblnumber}}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <strong>{{bbl.dcpBblnumber}}</strong>
      </a>
      {{#if bbl.temporaryAddressLabel}}
        ({{bbl.temporaryAddressLabel}})
      {{/if}}
    </legend>
    <fieldset>
      <legend data-test-development-site-question="{{bbl.dcpBblnumber}}-{{bbl.dcpDevelopmentsite}}">
        Is this BBL part of the development site?
      </legend>
      <RadioButton
        @value={{true}}
        @groupValue={{bbl.dcpDevelopmentsite}}
        @changed={{fn (mut bbl.dcpDevelopmentsite) true}}
        data-test-bbl-development-site-yes={{bbl.dcpBblnumber}}
      >
        Yes
      </RadioButton>
      <RadioButton
        @value={{false}}
        @groupValue={{bbl.dcpDevelopmentsite}}
        @changed={{fn (mut bbl.dcpDevelopmentsite) false}}
        data-test-bbl-development-site-no={{bbl.dcpBblnumber}}
      >
        No
      </RadioButton>

    </fieldset>
    <fieldset>
      <legend data-test-partial-lot-question="{{bbl.dcpBblnumber}}-{{bbl.dcpPartiallot}}">
        Is this a partial lot?
      </legend>
      <RadioButton
        @value={{true}}
        @groupValue={{bbl.dcpPartiallot}}
        @changed={{fn (mut bbl.dcpPartiallot) true}}
        data-test-bbl-partial-lot-yes={{bbl.dcpBblnumber}}
      >
        Yes
      </RadioButton>
      <RadioButton
        @value={{false}}
        @groupValue={{bbl.dcpPartiallot}}
        @changed={{fn (mut bbl.dcpPartiallot) false}}
        data-test-bbl-partial-lot-no={{bbl.dcpBblnumber}}
      >
        No
      </RadioButton>
    </fieldset>

    <button
      type="button"
      class="delete-fieldset"
      {{on "click" (fn this.removeBbl bbl)}}
      data-test-button-remove-bbl="{{bbl.dcpBblnumber}}"
    >
      Delete BBL
      <FaIcon @icon="times" @prefix="fas" @fixedWidth={{true}} />
    </button>
  </fieldset>
{{/each}}
