<div class="row">
	<LabsSearch
		@searchPlaceholder='Look up BBL (ex 1001440001)'
		data-test-input="bbl-search"
		@onSelect={{fn this.selectSearchResult}} as |search|>

		<small class="dark-gray">{{search.result.label}} <br> {{bbl-breakup search.result.bbl}}</small>
	</LabsSearch>
</div>

<div class="row">
  <p>Project BBLs</p>
</div>

<div class="row">
	{{#each @pasForm.bbls as |bbl|}}
	  <div class="item">
	      <a
	        href="https://zola.planning.nyc.gov/bbl/{{bbl.dcp_bblnumber}}"
	        target="_blank"
	        rel="noopener noreferrer"
			data-test-bbl-link="{{bbl.dcp_bblnumber}}"
	      >
	        {{bbl.dcp_bblnumber}}
	      </a>
	      <i data-test-button-remove-bbl="{{bbl.dcp_bblnumber}}" onClick={{fn this.removeBbl bbl}}>{{fa-icon 'times' class='red'}}</i>
	  </div>
	{{/each}}
</div>
